/* 
    Created on : Sep 13, 2016, 4:33:59 PM
    Author     : nurfadillah
*/

/* TABLES */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-color: #E5E5E5;
  border-width: 1px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background: #F8FAFC;
}
.table > thead > tr > th {
  background: #f1f5f9;
  color: #56688A;
  font-size: 12px;
}
.panel-body.panel-body-table {
  padding: 0px;
}
.panel-body.panel-body-table h1,
.panel-body.panel-body-table h2,
.panel-body.panel-body-table h3,
.panel-body.panel-body-table h4,
.panel-body.panel-body-table h5,
.panel-body.panel-body-table h6 {
  padding-left: 10px;
  margin-bottom: 10px;
}
.panel-body.panel-body-table .table {
  margin-bottom: 0px;
  border: 0px;
}
.panel-body.panel-body-table .table tr > td:first-child,
.panel-body.panel-body-table .table tr > th:first-child {
  border-left: 0px;
}
.panel-body.panel-body-table .table tr > td:last-child,
.panel-body.panel-body-table .table tr > th:last-child {
  border-right: 0px;
}
.panel-body.panel-body-table .table > tbody > tr:last-child > td {
  border-bottom: 0px;
}
.panel-body.panel-body-table td,
.panel-body.panel-body-table th {
  padding: 8px 10px;
}
.table.table-actions td {
  line-height: 28px;
}
.table .progress-small {
  margin: 7px 0px 8px;
}
/* EOF TABLES */
/* Datatables */
.dataTable {
  float: left;
  border-bottom: 1px solid #E5E5E5 !important;
  margin-bottom: 5px;
}
.dataTable div.checker,
.dataTable div.radio {
  display: inherit;
}
.dataTables_wrapper {
  float: left;
  width: 100%;
}
.dataTables_length {
  width: 50%;
  float: left;
  padding: 0px 0px 5px;
  border-bottom: 1px solid #E5E5E5;
  font-size: 12px;
}
.dataTables_length label,
.dataTables_filter label {
  padding: 0px;
  line-height: 26px;
  height: auto;
  margin: 0px;
  font-weight: normal;
}
.dataTables_length select {
  width: 70px;
  display: inline;
  margin: 0px 5px;
}
.dataTables_filter {
  width: 50%;
  float: right;
  padding-left: 5px;
  padding: 0px 0px 5px;
  border-bottom: 1px solid #E5E5E5;
  font-size: 12px;
}
.dataTables_filter label {
  float: right;
}
.dataTables_filter label input {
  width: 150px;
  display: inline;
  margin-left: 5px;
}
td.dataTables_empty {
  font-size: 11px;
  text-align: center;
  color: #333;
}
.dataTables_info {
  float: left;
  font-size: 12px;
  padding: 0px;
  line-height: 30px;
}
.dataTables_paginate {
  padding: 0px;
  text-align: right;
  float: right;
}
.dataTables_paginate a.paginate_disabled_previous,
.dataTables_paginate a.paginate_disabled_next,
.dataTables_paginate a.paginate_button,
.paginate_enabled_next,
.paginate_active,
.paginate_enabled_previous {
  padding: 5px 10px;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #656d78;
  margin-left: 3px;
  cursor: pointer;
}
.dataTables_paginate .paginate_enabled_next:hover,
.dataTables_paginate a.paginate_button:hover,
.dataTables_paginate .paginate_enabled_previous:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #222;
}
.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover {
  background: #33414e;
  color: #FFF;
  border-color: #33414e;
}
.dataTables_paginate a.paginate_disabled_previous,
.dataTables_paginate a.paginate_button_disabled,
.dataTables_paginate a.paginate_disabled_next {
  cursor: default;
  color: #ccc;
}
.dataTables_paginate a.paginate_button_disabled:hover {
  box-shadow: none;
  color: #ccc;
}
.sorting_desc,
.sorting_asc,
.sorting {
  position: relative;
  cursor: pointer;
}
.sorting:before,
.sorting_desc:before,
.sorting_asc:before {
  float: right;
  font-family: 'FontAwesome';
  opacity: 0.9;
  filter: alpha(opacity = 90);
  width: 10px;
  height: 10px;
  display: block;
}
.sorting:before {
  content: "\f0dc";
  opacity: 0.3;
  filter: alpha(opacity = 30);
}
.sorting_desc:before {
  content: "\f0d8";
}
.sorting_asc:before {
  content: "\f0d7";
}
.sorting_asc_disabled:before,
.sorting_desc_disabled:before {
  opacity: 0.1;
  filter: alpha(opacity = 10);
}
/* eof Datatables */

/* PANEL REFRESHING */
.panel-refresh-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #FFF;
  opacity: 0.5;
  filter: alpha(opacity = 50);
  z-index: 3;
  font-size: 21px;
}
.panel-refresh-layer img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
/* EOF PANEL REFRESHING */
.panel-toggled .panel-body,
.panel-toggled .panel-footer {
  display: none;
}
/* PANELS */
.panel {
  float: left;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  border-top: 2px solid #E5E5E5;
  margin-bottom: 20px;
  position: relative;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.panel.panel-default {
  border-top-color: #F5F5F5;
  border-top-width: 1px;
}
.panel.panel-primary {
  border-top-color: #33414e;
}
.panel.panel-success {
  border-top-color: #95b75d;
}
.panel.panel-info {
  border-top-color: #3fbae4;
}
.panel.panel-warning {
  border-top-color: #fea223;
}
.panel.panel-danger {
  border-top-color: #b64645;
}
.panel.panel-colorful:before {
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -o-linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -moz-linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -webkit-linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -ms-linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #b64645), color-stop(0.5, #fea223), color-stop(1, #95b75d));
  display: block;
  left: 0px;
  top: 0px;
}
.panel .panel-heading {
  padding: 10px;
}
.panel .panel-heading .panel-title-image {
  float: left;
  width: 30px;
  border: 2px solid #D5D5D5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
}
.panel .panel-heading .panel-title {
  margin-left: 7px;
}
.panel .panel-heading .panel-title-box {
  float: left;
}
.panel .panel-heading .panel-title-box h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #434a54;
  padding: 0px;
  margin: 0px;
}
.panel .panel-heading .panel-title-box span {
  font-size: 12px;
  color: #a7adb5;
  font-weight: 400;
  line-height: 12px;
}
.panel .panel-heading,
.panel .panel-footer,
.panel .panel-body {
  float: left;
  width: 100%;
}
.panel .panel-body {
  padding: 15px;
  position: relative;
}
.panel .panel-body.scroll {
  padding-right: 0px;
}
.panel .panel-body.panel-body-map {
  padding: 5px;
}
.panel .panel-body.panel-body-image {
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}
.panel .panel-body.panel-body-image img {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
.panel .panel-body.panel-body-image .panel-body-inform {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  background: #3fbae4;
  color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: -15px;
  text-align: center;
  line-height: 30px;
  padding-left: 1px;
  padding-top: 1px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-primary {
  background: #33414e;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-success {
  background: #95b75d;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-warning {
  background: #fea223;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-danger {
  background: #b64645;
}
.panel .panel-body.panel-body-image .panel-body-inform .fa {
  font-size: 16px;
  color: #FFF;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.panel .panel-body.list-group {
  padding: 0px;
}
.panel .panel-body.profile {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.panel .panel-body.panel-body-search {
  padding: 5px;
}
.panel .panel-body.panel-body-half .panel-body {
  width: 50%;
  height: 100%;
}
.panel .panel-body.panel-body-half .panel-body:nth-child(2n) {
  padding-left: 25px;
}
.panel .panel-body.panel-body-half .panel-body.panel-body-image {
  margin-bottom: 0px;
}
.panel .panel-body.panel-body-half .panel-body.panel-body-image .panel-body-inform {
  bottom: auto;
  left: auto;
  right: -15px;
  top: 50%;
  margin-left: 0px;
  margin-top: -15px;
}
.panel .panel-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  float: left;
  color: #434a54;
}
.panel .panel-footer {
  background: #F5F5F5;
  border: 0px;
  border-top: 1px solid #E3E3E3;
  line-height: 30px;
  padding: 10px;
}
.panel-default .panel-heading,
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-info .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading {
  background: #F5F5F5;
  border-color: #E5E5E5;
}
.panel-fullscreen-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #FFF;
}
.panel-fullscreen-wrap .panel {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 0px;
}
.panel-fullscreen-wrap .panel .panel-body {
  overflow-y: scroll;
}
/* PANEL GROUP / ACCORDION */
.panel-group {
  float: left;
  width: 100%;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0px;
}
.panel-title > a {
  text-decoration: none;
}
.panel-group.accordion .panel-body {
  display: none;
}
.panel-group.accordion .panel-body.panel-body-open {
  display: block;
}
/* END PANEL GROUP / ACCORDION */
/* PANEL CONTROLS */
ul.panel-controls {
  float: right;
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
}
ul.panel-controls > li {
  float: left;
}
ul.panel-controls > li > a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  color: #656d78;
  border: 1px solid #BBB;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 3px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
ul.panel-controls > li > a.control-primary {
  color: #33414e;
  border-color: #33414e;
}
ul.panel-controls > li > a.control-success {
  color: #95b75d;
  border-color: #95b75d;
}
ul.panel-controls > li > a.control-info {
  color: #3fbae4;
  border-color: #3fbae4;
}
ul.panel-controls > li > a.control-warning {
  color: #fea223;
  border-color: #fea223;
}
ul.panel-controls > li > a.control-danger {
  color: #b64645;
  border-color: #b64645;
}
ul.panel-controls > li > a:hover {
  border-color: #999;
  color: #434a54;
}
ul.panel-controls > li > a.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
ul.panel-controls.panel-controls-title {
  margin-top: 3px;
}
.panel-hidden-controls ul.panel-controls > li > a {
  opacity: 0;
  filter: alpha(opacity = 0);
}
.panel-hidden-controls:hover ul.panel-controls > li > a {
  opacity: 0.8;
  filter: alpha(opacity = 80);
}
.panel-hidden-controls:hover ul.panel-controls > li > a:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}
ul.panel-controls > li.label-control .label,
.label-form {
  display: inline-block;
  font-size: 11px;
  padding: 5px 10px;
  line-height: 12px;
  margin-top: 4px;
}
ul.panel-controls > li > .dropdown-menu {
  left: auto;
  right: 3px;
}
ul.panel-controls > li > .dropdown-menu:after,
ul.panel-controls > li > .dropdown-menu:before {
  left: auto;
  right: 11px;
}
ul.panel-controls > li > .dropdown-menu:after {
  margin-left: auto;
  margin-right: -5px;
}
ul.panel-controls > li > .dropdown-menu:before {
  margin-left: auto;
  margin-right: -6px;
}
/* EOF PANEL CONTROLS */
.panel-heading .label {
  line-height: 16px;
  padding: 4px 10px;
  margin: 3px 0px 3px 5px;
  font-size: 12px;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.panel-heading .label.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}