*/config/development
application/logs/
cache/
!*/cache/index.html
!*/cache/.htaccess
/PROPOSALMABES.docx
/nbproject/
index\.php

application/config/config\.php

\.htaccess
CI_Autocomplete\.php

application/config/database\.php
