RewriteEngine on


##
# 
# Case Sensitive Broh
#
##
RewriteBase /github/mabesAD/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|dd\.php|(.*)\.swf|_assets|forums|forum|images|css|downloads|js|robots\.txt|favicon\.ico)
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

#php_value  upload_max_filesize  10M
#php_value  post_max_size  128M

#<IfModule mod_security.c>
    # Turn off mod_security filtering.
#    SecFilterEngine Off

    # The below probably isn't needed, but better safe than sorry.
#    SecFilterScanPOST Off
#</IfModule>