/* Wide Screen */
@media only screen and (max-width: 1360px) {
    .line-wrap,
    #baris-halaman-utama #line-load-ajax {
        width: 980px;
    }
}
@media only screen and (max-width: 1200px) {
    .line-wrapall {
        width: 100%;
    }
    .line-wrap {
        width: 100%;
        padding: 0 20px;
    }
    .line-wrap.line-row {
        padding: 0;
    }
    #line-header {
        text-align: center;
    }
    #line-header .line-logo {
        left: 10px;
        text-align: left;
    }
    #line-header.line-fixed {
        /* padding: 10px 0; */
    }
    #line-header.line-fixed .line-logo {
        /*top: 9px;*/
    }
    #line-header.active .baris-menu {
        right: 0;
    }
    #line-header.active .line-icon-menu {
        display: none;
    }
    #line-header.active .line-icon-menu-x {
        display: block;
        right: 199px;
    }
    #line-header .line-logo {
        left: 10px;
    }
    #line-header .line-social {
        position: static;
        display: inline-block;
    }
    #line-header .baris-menu-registrasi {
        position: static;
        display: inline-block;
    }
    #line-header .line-icon-menu {
        display: block;
    }
    #line-header .baris-menu {
        position: fixed;
        top: 0;
        right: -200px;
        background: #353330;
        width: 200px;
        height: 100%;
        overflow: auto;
        padding: 10px;
        /* border-left: 1px solid #ffffff; */
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    #line-header .baris-menu li {
        padding: 0;
        display: block;
    }
    #line-header .baris-menu li a {
        display: block;
        padding: 10px 0;
        text-align: left;
        color: #cdcdcd;
    }
    #line-header .baris-menu li.current-menu-item a,
    #line-header .baris-menu li:hover a {
        color: #b3b3b3;
    }
	
	nav.baris-menu li:hover a {
        color: #7C7E82;
    }
	
    #line-header .baris-menu li.parent {
        position: static;
    }
    #line-header .baris-menu li.parent .sub-menu {
        visibility: visible;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100);
        display: block\9;
        background: none;
        position: static;
        margin: 0 0 0 10px;
        border: none;
        width: auto;
    }
    #line-header .baris-menu li.parent .sub-menu:after {
        display: none;
    }
    #line-header .baris-menu li.parent .sub-menu li a {
        color: #ffffff;
    }
    #baris-halaman-utama #line-load-ajax {
        width: 100%;
    }

    .etalase .img-thumbnail-etalase{
        height: auto;
    }
    .frame-img-thumbnail{
/*        height: 100%;*/
    }
    .etalase .isi-konten-artikel .detail-etalase,
    .etalase .isi-konten-artikel .detail-etalase h4,
    .etalase .isi-konten-artikel .deskripsi-etalase, 
    .etalase .isi-konten-artikel .deskripsi-etalase h4{
        font-size: 14px;
    }
    .left-align-text{
        text-align: center;
    }
    .line-agreement{
        border: #000 solid thin;
        text-align: justify;
        max-height: 250px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
/* Tablet */
@media only screen and (max-width: 768px) {
    #baris-halaman-utama #line-index-version img {
        display: none;
    }
    #baris-halaman-utama .line-has-sidebar .line-page-content,
    #baris-halaman-utama .line-has-sidebar .line-page-sidebar {
        width: 100%;
        float: none;
    }
    #baris-halaman-utama .line-has-sidebar.line-sidebar-right .line-page-content,
    #baris-halaman-utama .line-has-sidebar.line-sidebar-left .line-page-content,
    #baris-halaman-utama .line-has-sidebar.line-sidebar-right .line-page-sidebar,
    #baris-halaman-utama .line-has-sidebar.line-sidebar-left .line-page-sidebar {
        padding: 0;
    }
    #baris-halaman-utama .line-has-sidebar .line-page-sidebar {
        margin-top: 50px;
    }
    #baris-halaman-utama .line-countdown > div {
        font-size: 36px;
        padding: 0 10px;
    }
    .line-parallax {
        background-size: cover;
        background-attachment: scroll;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    .line-btn, input[type="submit"], button[type="submit"] {
        padding: 0 20px;
    }
    .line-btn.big, input[type="submit"].big, button[type="submit"].big {
        padding: 0 50px;
    }

    .say-hai{
        display: none;
    }
}
/* Mobile */
@media only screen and (max-width: 568px) {
    #baris-halaman-utama #line-subscribe .line-btn {
        padding: 0;
        width: 45%;
        font-size: 14px;
    }
    #baris-halaman-utama #line-subscribe .line-input {
        font-size: 16px;
        width: 55%;
        width: 50%\9;
    }
    #baris-halaman-utama .line-countdown > div {
        font-size: 24px;
        padding: 0 10px;
    }
    .line-column {
        float: none;
    }
    .line-column.line1,
    .line-column.line2,
    .line-column.line3,
    .line-column.line4,
    .line-column.line5,
    .line-column.line6,
    .line-column.line7,
    .line-column.line8,
    .line-column.line9,
    .line-column.line10,
    .line-column.line11,
    .line-column.line12 {
        width: 100%;
        margin-bottom: 20px;
    }
    /** Column **/
    .one-half,
    .one-third,
    .two-third,
    .three-fourth,
    .one-fourth {
        float: none;
        margin: 0;
        margin-bottom: 40px;
        width: 100%;
    }
    .one-half.line-has-border:after,
    .one-third.line-has-border:after,
    .two-third.line-has-border:after,
    .three-fourth.line-has-border:after,
    .one-fourth.line-has-border:after {
        display: none;
    }
    [class*="line-col-"] article,
    [class*="line-col-"] li,
    [class*="line-col-"] .line-col {
        width: 100%;
    }
    /** line-promobox **/
    .line-promobox.has-button .line-promocontent {
        margin: 0;
    }
    .line-promobox .line-promobutton .line-btn {
        position: static;
        margin: 20px 0 0 0;
    }
    /** tabs **/
    .line-tabs .line-filter-tabs {
        border: none;
    }
    .line-tabs .line-filter-tabs li {
        float: none;
    }
    .line-tabs .line-filter-tabs li a {
        display: block;
        width: 100%;
        border: 2px solid #e6e6e6;
        margin-bottom: 10px;
        padding-left: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
    }
    .line-tabs .line-filter-tabs li a.selected {
        border: 2px solid #000000;
    }
    .line-tabs .line-filter-tabs li a.selected:after {
        display: none;
    }
    /** table **/
    table.line-table {
        display: block;
        border: 2px solid #e6e6e6;
    }
    table.line-table thead {
        float: left;
        display: block;
    }
    table.line-table thead tr {
        display: block;
    }
    table.line-table thead tr.header th {
        display: block;
    }
    table.line-table tbody {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    table.line-table tbody tr {
        border-right: 1px solid #e6e6e6;
        display: table-cell;
        vertical-align: top;
    }
    table.line-table tbody tr:last-child {
        border-right: none;
    }
    table.line-table tbody tr td {
        display: block;
    }
    table.line-table tbody tr td:last-child {
        border-bottom: none;
    }
    table.line-table.line-style1 thead tr th {
        background: #f2f2f2;
    }
    table.line-table.line-style2 tbody tr {
        border-right: none;
    }
    table.line-table.line-style2 tbody tr:nth-child(2n) {
        background: #ffffff;
    }
    table.line-table.line-style2 tbody tr:nth-child(2n) td:nth-child(2n) {
        background: #f2f2f2;
    }
    table.line-table.line-style2 tbody tr:nth-child(2n + 1) {
        background: #f2f2f2;
    }
    table.line-table.line-style2 tbody tr:nth-child(2n + 1) td:nth-child(2n) {
        background: #ffffff;
    }
    .line-pricing-table .pricing-table-wrap {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    /**Woo**/
    .woocommerce p.woocommerce-result-count,
    .woocommerce-page p.woocommerce-result-count,
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering {
        float: none;
        width: 100%;
        text-align: center;
    }
    .woocommerce div.product .images,
    .woocommerce-page div.product .images,
    .woocommerce div.product .summary,
    .woocommerce-page div.product .summary {
        width: 100%;
        padding: 10px 0;
        float: none;
        display: inline-block;
    }

    .say-hai{
        display: none;
    }
}
/* BlackBerry Curve 8900 and etc */
@media only screen and (max-width: 480px) {
    .line-logo{
        display: none;
    }
}